.styling{
    margin-left: 40%;
    display: inline-flex;  
}

.btn-group{
    width: 75px;
    height: 45px;
    font-size: larger;
    border-radius: 4px;
    background-color: rgb(37, 36, 36);
    color: white;  
}

.clear{
    width: 75px;
    height: 45px;
    font-size: larger;
    border-radius: 4px;
    background-color: red;

}

.equal{
    width: 75px;
    height: 45px;
    font-size: larger;
    border-radius: 4px;
    background-color:green;

}

.background{
    background-color: black;
}